$dark-gray-color: #555;
$gray-color: #ccc;
$white-color: #fff;
$black-color: #000;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.demo {
  display: block;
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}

.menu {
  align-items: center;
  background: $dark-gray-color;
  display: flex;
  font-size: 0;
  line-height: 0;
  padding: 15px 20px;
  width: calc(100% - 40px);
}

.menu-title {
  display: inline-block;
  font-family: Arial;
  font-size: 25px;
  font-weight: 700;
  color: $white-color;
  line-height: 25px;
  margin: 0;
}

.menu-link {
  color: $white-color;
  font-size: 16px;
  font-style: none;
  font-weight: 500;
  line-height: 25px;
  margin: 0 5px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.menu-separator {
  background: $white-color;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  margin: 0 10px;
  width: 1px;
}

.main {
  display: block;
  height: 100%;
  width: 100%;
}

.home {
  text-align: center;
}

.login {
  box-shadow: $gray-color 0px 0px 10px 1px; 
  border-radius: 5px;
  display: inline-block;
  left: 50%;
  margin: 0 auto;
  max-width: 400px;
  padding: 15px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}

.login-title {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0 auto 20px;
}

.content {
  display: block;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 1360px;
  padding: 0 15px;
  width: 100%;
}

.instruments {
  box-shadow: $dark-gray-color 0px 0px 10px 1px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

.instrument {
  box-shadow: $gray-color 0px 0px 10px 1px;
  display: inline-block;
  margin: 32px;
  width: 20%;
}

.paper {
  background: $white-color;
  box-shadow: $dark-gray-color 0px 0px 10px 1px; 
  height: 1200px;
  margin: 150px auto;
  padding: 50px 120px;
  position: relative;
  text-align: center;
  width: calc(1024px - 240px);
}

.paper-title {
  font-family: Tahoma;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  width: auto;

  &--input {
    border: 0;
    box-shadow: none;
  }
}

.paper-content {
  margin-bottom: 80px;
  position: relative;

  &--piano:before {
    background: url('/assets/images/svg/accolade.svg') no-repeat;
    background-position: center center;
    background-size: contain;
    content: '';
    display: inline-block;
    height: 147px;
    position: absolute;
    left: -10px;
    transform: translateX(-100%);
    width: 11px;
  }
}

.paper-line {
  align-items: center;
  display: flex;
  font-size: 0;
  line-height: 0;
  margin: 40px 0;

  &--bass-choir {
    margin: 30px 0;
  }
}

.bar {
  display: inline-block;
  width: 22.5%;

  &--first {
    width: 10%;
  }
}

.bar-notes {
  display: inline-block;
  position: relative;
  width: 25%;

  .note {
    background: url('/assets/images/svg/note.svg') no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    left: 50%;
  }

  &--clef {
    &:before {
      background: url('/assets/images/svg/clef.svg') no-repeat;
      background-position: center center;
      background-size: cover;
      content: '';
      height: 67px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 23px;
    }
  }

  &--time-signature:after {
    background: url('/assets/images/svg/time-signature.svg') no-repeat;
    background-position: center center;
    background-size: cover;
    content: '';
    height: 27px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    width: 6px;
  }

  &--bass-clef {
    &:before {
      background: url('/assets/images/svg/bass-clef.svg') no-repeat;
      background-position: center center;
      background-size: cover;
      content: '';
      height: 55px;
      position: absolute;
      left: 50%;
      top: 62%;
      transform: translate(-50%, -50%);
      width: 36px;
    }
  }

  &--two {
    width: 50%;
  }

  &--five {
    width: 20%;
  }

  &--six {
    width: 17.5%;
  }

  &--seven {
    width: 14.285%;
  }

  &--eight {
    width: 12.5%;
  }

  &--8-notes:before {
    background: url('/assets/images/svg/numbers/8.svg') no-repeat;
    background-position: center center;
    background-size: cover;
    content: '';
    height: 20.63px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    width: 16.58px;
  }

  &--7-notes:before {
    background: url('/assets/images/svg/numbers/7.svg') no-repeat;
    background-position: center center;
    background-size: cover;
    content: '';
    height: 20.63px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    width: 16.58px;
  }

  &--6-notes:before {
    background: url('/assets/images/svg/numbers/6.svg') no-repeat;
    background-position: center center;
    background-size: cover;
    content: '';
    height: 20.63px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    width: 16.58px;
  }

  &--5-notes:before {
    background: url('/assets/images/svg/numbers/5.svg') no-repeat;
    background-position: center center;
    background-size: cover;
    content: '';
    height: 20.63px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    width: 16.58px;
  }

  &--4-notes:before {
    background: url('/assets/images/svg/numbers/4.svg') no-repeat;
    background-position: center center;
    background-size: cover;
    content: '';
    height: 20.63px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    width: 16.58px;
  }

  &--3-notes:before {
    background: url('/assets/images/svg/numbers/3.svg') no-repeat;
    background-position: center center;
    background-size: cover;
    content: '';
    height: 20.63px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    width: 16.58px;
  }

  &--2-notes:before {
    background: url('/assets/images/svg/numbers/2.svg') no-repeat;
    background-position: center center;
    background-size: cover;
    content: '';
    height: 20.63px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    width: 16.58px;
  }

  &--1-notes:before {
    background: url('/assets/images/svg/numbers/1.svg') no-repeat;
    background-position: center center;
    background-size: cover;
    content: '';
    height: 20.63px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    width: 16.58px;
  }

  &--8-bars:after {
    background: url('/assets/images/svg/numbers/8.svg') no-repeat;
    background-position: center center;
    background-size: cover;
    content: '';
    height: 21.41px;
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translateX(-50%);
    width: 16.37px;
  }

  &--4-bars:after {
    background: url('/assets/images/svg/numbers/4.svg') no-repeat;
    background-position: center center;
    background-size: cover;
    content: '';
    height: 20.71px;
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translateX(-50%);
    width: 17.78px;
  }

  &--2-bars:after {
    background: url('/assets/images/svg/numbers/2.svg') no-repeat;
    background-position: center center;
    background-size: cover;
    content: '';
    height: 21.12px;
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translateX(-50%);
    width: 16.78px;
  }
}

.line {
  background: $black-color;
  display: inline-block;
  margin: 5px 0;
  height: 1px;
  width: 100%;

  &--bold {
    height: 2px;
    margin: 4.5px 0;
  }
}